body {
    background: #f2f6ff;
    font-family: Arial;
}

.container {
    width: 350px;
    margin: 120px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background: #0056d6;
    color: white;
    border: none;
    border-radius: 5px;
}

.link {
    text-align: center;
    margin-top: 10px;
}

.link a {
    color: #0056d6;         /* warna kontras */
    text-decoration: none;
    font-weight: 600;
}
.link a:hover {
    text-decoration: underline;
}

